[mysqld]
init_connect='SET NAMES utf8'
# 开启慢查询功能
slow_query_log=ON
# 指定记录慢查询日志SQL执行时间得阈值
long_query_time=1
slow_query_log_file=/var/lib/mysql/slow.log
[client]
default-character-set=utf8
[mysql]
default-character-set=utf8