/build/
target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
*~
packages/
**/dependency-reduced-pom.xml
**/dist/
/docker/snapshot/*.gz
.mvn/wrapper/*.jar
OALLexer.tokens
.factorypath
.vscode
.checkstyle
.externalToolBuilders
oap-server/oal-grammar/**/gen/
