*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files 
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
samples/skywalking-auth/skywalking-auth.iml
samples/skywalking-auth/target/
skywalking-alarm/skywalking-alarm.iml
skywalking-alarm/target/
skywalking-analysis/skywalking-analysis.iml
skywalking-analysis/target/
skywalking-collector/skywalking-agent/dependency-reduced-pom.xml
skywalking-collector/skywalking-agent/skywalking-agent.iml
skywalking-collector/skywalking-agent/target/
skywalking-collector/skywalking-api/skywalking-api.iml
skywalking-collector/skywalking-collector.iml
skywalking-collector/skywalking-log/example/example.iml
skywalking-collector/skywalking-log/log4j-1.x-plugin/skywalking-log4j-1.x-plugin.iml
skywalking-collector/skywalking-log/log4j-2.x-plugin/skywalking-log4j-2.x-plugin.iml
skywalking-collector/skywalking-log/skywalking-log.iml
skywalking-collector/skywalking-protocol/skywalking-protocol.iml
skywalking-collector/skywalking-sdk-plugin/dubbo-plugin/skywalking-dubbo-plugin.iml
skywalking-collector/skywalking-sdk-plugin/dubbo-plugin/target/
skywalking-collector/skywalking-sdk-plugin/httpClient-4.x-plugin/skywalking-httpClient-4.x-plugin.iml
skywalking-collector/skywalking-sdk-plugin/httpClient-4.x-plugin/target/
skywalking-collector/skywalking-sdk-plugin/jdbc-plugin/skywalking-jdbc-plugin.iml
skywalking-sdk-plugin/jdbc-plugin/target/
skywalking-collector/skywalking-sdk-plugin/jedis-2.x-plugin/skywalking-jedis-2.x-plugin.iml
skywalking-collector/skywalking-sdk-plugin/jedis-2.x-plugin/target/
skywalking-collector/skywalking-sdk-plugin/spring-plugin/skywalking-spring-plugin.iml
skywalking-collector/skywalking-sdk-plugin/spring-plugin/target/
skywalking-collector/skywalking-sdk-plugin/web-plugin/skywalking-web-plugin.iml
skywalking-collector/skywalking-sdk-plugin/web-plugin/target/
skywalking-server/target/
skywalking-webui/skywalking-webui.iml
skywalking.iml
test/skywalking-agent-test/.idea/
test/skywalking-agent-test/dubbo-test/
test/skywalking-agent-test/jdbc-test/jdbc-test.iml
test/skywalking-agent-test/redis-test/redis-test.iml
test/skywalking-test-api/skywalking-test-api.iml
test/skywalking-test-api/target/
skywalking-collector/skywalking-sdk-plugin/jdbc-plugin/target/
.gitignore
skywalking-collector/skywalking-log/logback-plugin/logback-plugin.iml
