cluster.current.hostname=127.0.0.1
cluster.current.port=10000
cluster.current.roles=WorkersListener
cluster.seed_nodes=127.0.0.1:1000,127.0.0.1:1001

es.cluster.name=CollectorDBCluster
es.cluster.nodes=127.0.0.1:9300
es.cluster.transport.sniffer=true

es.index.shards.number=2
es.index.replicas.number=0

http.hostname=127.0.0.1
http.port=7001
http.contextPath=/

cache.analysis.size=1024
cache.persistence.size=1024

WorkerNum.Node.NodeCompAgg.Value=10
WorkerNum.Node.NodeMappingDayAgg.Value=10
WorkerNum.Node.NodeMappingHourAgg.Value=10
WorkerNum.Node.NodeMappingMinuteAgg.Value=10

WorkerNum.NodeRef.NodeRefDayAgg.Value=10
WorkerNum.NodeRef.NodeRefHourAgg.Value=10
WorkerNum.NodeRef.NodeRefMinuteAgg.Value=10
WorkerNum.NodeRef.NodeRefResSumDayAgg.Value=10
WorkerNum.NodeRef.NodeRefResSumHourAgg.Value=10
WorkerNum.NodeRef.NodeRefResSumMinuteAgg.Value=10

WorkerNum.GlobalTrace.GlobalTraceAgg.Value=10

Queue.GlobalTrace.GlobalTraceSave.Size=1024
Queue.GlobalTrace.GlobalTraceAnalysis.Size=1024

Queue.Segment.SegmentPost.Size=1024
Queue.Segment.SegmentCostSave.Size=1024
Queue.Segment.SegmentSave.Size=1024
Queue.Segment.SegmentExceptionSave.Size=1024

Queue.Node.NodeCompAnalysis.Size=1024
Queue.Node.NodeMappingDayAnalysis.Size=1024
Queue.Node.NodeMappingHourAnalysis.Size=1024
Queue.Node.NodeMappingMinuteAnalysis.Size=1024
Queue.Node.NodeCompSave.Size=1024
Queue.Node.NodeMappingDaySave.Size=1024
Queue.Node.NodeMappingHourSave.Size=1024
Queue.Node.NodeMappingMinuteSave.Size=1024

Queue.NodeRef.NodeRefDayAnalysis.Size=1024
Queue.NodeRef.NodeRefHourAnalysis.Size=1024
Queue.NodeRef.NodeRefMinuteAnalysis.Size=1024
Queue.NodeRef.NodeRefDaySave.Size=1024
Queue.NodeRef.NodeRefHourSave.Size=1024
Queue.NodeRef.NodeRefMinuteSave.Size=1024
Queue.NodeRef.NodeRefResSumDaySave.Size=1024
Queue.NodeRef.NodeRefResSumHourSave.Size=1024
Queue.NodeRef.NodeRefResSumMinuteSave.Size=1024
Queue.NodeRef.NodeRefResSumDayAnalysis.Size=1024
Queue.NodeRef.NodeRefResSumHourAnalysis.Size=1024
Queue.NodeRef.NodeRefResSumMinuteAnalysis.Size=1024

