<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="storage-server" packages="">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p %c{1}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>
