cluster:
  zookeeper:
    hostPort: localhost:2181
    sessionTimeout: 100000
#agent_server:
#  jetty:
#    host: localhost
#    port: 10800
#    context_path: /
#agent_register:
#  grpc:
#    host: localhost
#    port: 11800
#  jetty:
#    host: localhost
#    port: 12800
#    context_path: /
#agent_stream:
#  grpc:
#    host: localhost
#    port: 11800
#  jetty:
#    host: localhost
#    port: 12800
#    context_path: /
#ui:
#  jetty:
#    host: localhost
#    port: 12800
#    context_path: /
storage:
  elasticsearch:
    cluster_name: CollectorDBCluster
    cluster_transport_sniffer: true
    cluster_nodes: localhost:9300