<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sky Walking</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="css/iconfont.css" />
</head>

<body>
  <div id="root"></div>
</body>

</html>
