<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                    http://www.springframework.org/schema/aop
                    http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="postProcess1"
          class="com.ai.cloud.skywalking.plugin.spring.TracingEnhanceProcessor">
    </bean>
    <bean id="aspectBean" class="com.ai.cloud.skywalking.plugin.spring.aspect.AspectBean"/>
    <bean id="testBuriedPointAspect" class="com.ai.cloud.skywalking.plugin.spring.aspect.TracingAspectBean"/>
    <aop:config>
        <aop:aspect ref="aspectBean">
            <aop:pointcut id="testPointCut"
                          expression="execution(* com.ai.cloud.skywalking.plugin.spring.aspect..*(..))"/>
            <aop:before method="before" pointcut-ref="testPointCut"/>
            <aop:after method="after" pointcut-ref="testPointCut"/>
        </aop:aspect>
    </aop:config>
</beans>